/*-- Colors --*/
$color-project-black: #333333;
$color-grey-btn: #979797;
$color-grey-btn-active: #bdbdbd;
$color-grey-btn-disabled: #E3E3E3;
$color-grey-light: #F5F5F2;
$color-orange-btn: #F58220;
$color-orange-btn-active: #FFA200;
$color-green-active: #04AE00;
$color-green-pos-not: #96CC9B;
$color-green-pos-not-active: #74B67A;
$color-red-pos-not: #EC7171;
$color-red-pos-not-active: #DE5252;
$color-blue-tabs: #56819F;
$color-red: #FF0000;
$color-white: white;
$color-black: black;
$color-whitesmoke: whitesmoke;

/*-- Fonts --*/

// $font-size: 16px;
$font-text: 'Roboto', sans-serif;

/* weight */

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

